html, body {
    margin: 0;
}

body{
    background: linear-gradient(to top, #d0d0d0, #ffffff);
    height: 100vh;
}

.home{
    height: 100%;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.montserrat{
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.profilecard {
    padding: 20px 10px;
    margin: 0 auto; /* Centraliza automaticamente na horizontal */
    text-align: center;
    width: 400px;
    height: auto;
    border: none;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 7px 10px 0px rgba(20, 20, 20, 0.3);
    border-radius: 40px;
}

.contacts {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.contacts img {
    width: 80%; /* Controla a largura de cada ícone */
}

#resume {
    font-size: 120%;
}

#job{
    font-size: 100%;
}

#profilepic{
    width: 35%;
}

#QRCode{
    width: 50%;
}

#id:hover{
    color: #211C84;
}

@media (max-width: 650px) {
    .profilecard{
        width: 80%;
        font-size: 80%;
    }

    .titlename{
        font-size: 200%;
    }

    .contacts{
        gap: 20px;
    }

    .contacts img{
        width: 70%;
    }

    #profilepic{
        width: 50%;
    }

}
